.background-element
  position absolute
  &.-lava-fall
    background url('../../assets/images/experience/gifs/lava-fall.gif') center center no-repeat
    background-size 100% 100%
    height 10%
    right 0
    width 100%
    for num in (0..9)
      &.child-{num}
        top num * 10 + '%'
  &.-lava
    background url('../../assets/images/experience/gifs/lava.gif') center center no-repeat
    background-size 100% 100%
    bottom 0
    flex(flex-end, center)
    height 21%
    &.l-1
      left 46.7%
      width 53.5%
    &.l-2
      left 0
      width 15%
  &.-fire-ball
    background url('../../assets/images/experience/gifs/fire-ball.gif') center center no-repeat
    background-size 100% 100%
  &.-torch
    background url('../../assets/images/experience/gifs/torch.gif') center center no-repeat
    background-size 100% 100%
    height 15%
    width 4%
    &.t-1
      left 59.5%
      top 60%
    &.t-2
      left 40.5%
      top 40.5%
    &.t-3
      left 79%
      top 40.5%
  &.-water
    background url('../../assets/images/experience/gifs/water.gif') center center no-repeat
    background-size 100% 100%
    bottom 0
    height 22%
    left 61.7%
    width 51.2%
  &.-waterfall
    background url('../../assets/images/experience/gifs/waterfall.gif') center center no-repeat
    background-size 100% 100%
    height 10%
    right 0
    width 4.3%
    for num in (0..9)
      &.child-{num}
        top num * 10 + '%'

.lava-container
  animation liquidFall 15s infinite
  height 0
  position absolute
  right 19.15%
  top 10%
  width 4.3%

@keyframes liquidFall
  0, 100%
    height .5rem
    top 10%
  2.5%
    height 3%
    top 10%
  10%
    height 90%
  35%
    opacity 1
  40%
    height 0
    top 125%
  40.5%
    opacity 0
  41%
    opacity 0
    top 10%
  49%
    opacity 0
  50%
    opacity 1
    top 10%
    height .2rem
  52.5%
    height 3%
    top 10%
  60%
    height 90%
  85%
    opacity 1
  90%
    height 0
    top 125%
  90.5%
    opacity 0
  92%, 100%
    opacity 0
    top 10%
    height 0
