.band-member
  height 20%
  position absolute
  width 20%
  z-index 9
  &.drummer
    background url('../images/drummer.gif') center center
    background-size 100% 100%
    height 50%
    left 25%
    top -32.5%
  &.mad-guitarrist
    background url('../images/madGuitarrist.gif') center center
    background-size 100% 100%
    bottom 21%
    left 10%
  &.showoff-guitarrist
    background url('../images/showoffGuitarrist.gif') center center
    background-size 100% 100%
    bottom 40.5%
    left 40.5%
    transform rotate(-2.5deg)
  &.bass-player
    background url('../images/bassPlayer.gif') center center
    background-size 100% 100%
    bottom 18%
    left 70%
  &.fan
    bottom 10%
    background url('../images/fan.gif') center center
    background-size 100% 100%
    left 25%