.band-member
  height 10rem
  position absolute
  width 10rem
  z-index 1
  &.drummer
    background url('/images/drummer.gif') center center
    background-size cover
    bottom 44%
    right 11.5%
  &.mad-guitarrist
    background url('/images/madGuitarrist.gif') center center
    background-size cover
    bottom 23.5%
    left 32.5%
  &.showoff-guitarrist
    background url('/images/showoffGuitarrist.gif') center center
    background-size cover
    bottom 17.5%
    right 20%
  &.bass-player
    background url('/images/bassPlayer.gif') center center
    background-size cover
    bottom 25%
    left 12.5%
  &.fan
    bottom 10%
    background url('/images/fan.gif') center center
    background-size cover
    left 25%