.button
  animation fadeIn .5s 1s forwards
  background-color rgba(black, .4)
  border .2rem solid white
  color white
  font-family titleFont
  font-size .65rem
  opacity 0
  padding .5rem
  text-decoration none
  text-shadow -.1rem 0 black, 0 .2rem black, .2rem 0 black, 0 -.1rem black
  transition fastTransition
  z-index 9
  &:hover
    background-color rgba(black, .7)
  color lighten(grey, 35%)
  +media(desktop)
    font-size 1rem
  &.-next
    right 2.5%
    > i
      margin-left .5rem
  &.-prev
    left 2.5%
    > i
      margin-right .5rem