.character-static
  background url('../images/walking.gif') center center no-repeat
  background-size 100% 100%
  box-shadow 0 .75rem .5rem -.65rem black
  content ''
  display inline-block
  height 5rem
  width 3rem
  z-index 9
  +media(desktop)
    height 8rem
    width 4rem