.character
  animation breath 1s 1s forwards
  &:before
    animation walkingSm 15s forwards
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
    box-shadow 0 .75rem .5rem -.65rem black
    content ''
    left -250%
    height 15%
    width 3%
    z-index 9
    position absolute
    +media(mobile)
      animation walkingMd 15s forwards
    +media(desktop)
      animation walking 15s forwards
  &.-jumpDownIntro
    &:before
      animation jumpDownIntroSm 1s 15s forwards ease-in, breathSm 3s 17s ease-in infinite alternate
      background url('../images/characterJumpMiddleLeft.png') center center no-repeat
      background-size 100% 100%
      bottom 120%
      height 15%
      left 150%
      width 3%
      +media(mobile)
        animation jumpDownIntroMd 1s 15s forwards ease-in, breathMd 3s 17s ease-in infinite alternate
      +media(desktop)
        animation jumpDownIntro 1s 15s forwards ease-in, breath 3s 17s ease-in infinite alternate
  &.-live-and-work
    &:before
      height 15%
      width 3%
      animation StaticWalking 45s forwards, occasionalJump 45s 45s infinite alternate forwards
  &.-experience
    animation breathSm 2s infinite alternate
    +media(mobile)
      animation breathMd 2s infinite alternate
    +media(desktop)
      animation breath 2s infinite alternate
    &:before
      animation walkingExperience 5s forwards
      left -50%
      height 20%
  &.-experience.experienceTwoNext
    &:before
      animation experienceTwoNext 6.5s forwards
  &.-experience.experienceOnePrev
    &:before
      animation experienceOnePrev 7s forwards
  &.-experience.experienceThreeNext
    &:before
      animation experienceThreeNext 6.5s forwards
  &.-experience.experienceTwoPrev
    &:before
      animation experienceTwoPrev 6.5s forwards
  &.-experience.experienceFourNext
    &:before
      animation experienceFourNext 7.5s forwards
  &.-experience.experienceThreePrev
    &:before
      animation experienceThreePrev 7s forwards
  &.-experience.goToCredits
    &:before
      animation goToCredits 6.5s .25s forwards

