.contact
  flex(center, space-evenly)
  width 100%
  > .contact-information
    flex(flex-start, spave-evenly)
    +media(desktop)
      max-width 40%
    > a
      color white
      font-family titleFont
      font-size 100%
      line-height 150%
      padding 1rem
      text-shadow -.1rem 0 black, 0 .2rem black, .2rem 0 black, 0 -.1rem black
      width 100%
    > a i
      margin-right .5rem
      font-size 150%
