.contact-form
  background-color rgba(lighten(black, 15%), .75)
  border .2rem solid white
  flex(center, center)
  max-width 90%
  padding 2rem
  position relative
  z-index 10
  +media(mobile)
    max-width 80%
  +media(desktop)
    max-width 50%
  > input,
  > textarea
    background-color lighten(black, 15%)
    border .01rem solid white
    color white
    font-size 150%
    margin-bottom 1rem
    padding .5rem
    text-shadow -.1rem 0 black, 0 .2rem black, .2rem 0 black, 0 -.1rem black
    width 100%
  > textarea
    height 12rem
    overflow auto
    resize none
  .link
    color white
    font-size 150%
    padding .5rem
    text-shadow -.1rem 0 black, 0 .2rem black, .2rem 0 black, 0 -.1rem black
