.exp-btn
  background none
  border none
  color white
  cursor pointer
  font-family titleFont
  font-size 200%
  font-weight bold
  position absolute
  text-shadow -.1rem 0 black, 0 .2rem black, .2rem 0 black, 0 -.1rem black
  transition fastTransition
  +media(mobile)
    font-size 150%
  +media(desktop)
    font-size 200%
  &.b-1
    left 24.1%
    top 15%
  &.b-2
    left 25.5%
    top 61%
  &.b-3
    left 47.3%
    top 1.5%
  &.b-4
    left 52.5%
    top 17%
  &.b-5
    left 74.3%
    top 40%
  &.b-6
    left 75.5%
    top 25%
  &:hover
    transform scale(1.1)