.game-title,
.game-title > *
  color white
  font-family secondaryFont
  font-size 2.5rem
  letter-spacing .25rem
  line-height 3rem
  margin 0 0 2rem
  text-shadow -.25rem 0 darken(primary, 15%), 0 .45rem black, .45rem 0 black, 0 -.25rem darken(primary, 15%)
  text-transform uppercase
  width 100%
  +media(mobile)
    font-size 5rem
    line-height 5.5rem
  &.-small
    font-size 1.5rem
    line-height 2rem
    +media(mobile)
      font-size 2.5rem
      line-height 3.5rem
