.game-title,
.game-title > *
  color white
  font-family titleFont
  font-size 1.5rem
  letter-spacing .25rem
  line-height 2rem
  position relative
  text-shadow -.15rem 0 darken(primary, 15%), 0 .25rem black, .25rem 0 black, 0 -.15rem darken(primary, 15%)
  text-transform uppercase
  width 100%
  z-index 8
  +media(mobile)
    font-size 2.5rem
    line-height 3rem
  &.-small
    font-size 1rem
    line-height 1.5rem
    margin-bottom 0
    text-shadow -.1rem 0 black, 0 .2rem black, .2rem 0 black, 0 -.1rem black
    width auto
  &.-cartel
    animation fadeIn 1.5s 2.7s ease-in forwards
    color white
    margin-top 4rem
    opacity 0
    padding 1rem
    position relative
    text-shadow -.15rem 0 darken(grey, 15%), 0 .35rem black, .35rem 0 black, 0 -.15rem darken(grey, 15%)
    width auto
    +media(mobile)
      font-size 2.5rem