.game-start-button
  color white
  display block
  font-family secondaryFont
  font-size 2rem
  letter-spacing .25rem
  line-height 2.5rem
  margin 0 0 1rem
  text-align left
  text-decoration none
  text-shadow -.25rem 0 darken(primary, 15%), 0 .45rem black, .45rem 0 black, 0 -.25rem darken(primary, 15%)
  text-transform uppercase
  &.-selected
    margin-left -.8rem
    &:before
      content '>'
      font-weight bold