.game-options-text
  flex(flex-start, center)
  margin auto
  max-width 95%
  position relative
  z-index 9
  +media(desktop)
    margin-top 5rem
    margin-left 15vw
    max-width 70vw
  > span
    max-width 70%