.parallax-background
  flex(flex-start, center)
  display flex
  overflow hidden
  position relative
  width 100%
  > .background,
  > .layerBottom
    height 100%
    left 0
    position absolute
    width 100%
  > .layerBottom
    bottom 0
    height 3rem
    z-index 7
  > .background-1
    z-index 5
  > .background-2
    z-index 4
  > .background-3
    z-index 3
  > .background-4
    z-index 2
  > .background-5
    z-index 1
  > .background-6
    z-index 0
  &.-intro
    animation earthquakeSm 0.5s 15.85s forwards
    background-color rgba(black, .8)
    background-size 100% 100%
    height 100%
    +media(mobile)
      animation earthquakeMd 0.5s 15.85s forwards
    +media(desktop)
      animation earthquake 0.5s 15.85s forwards
    > .background
      top 0
    > .layerBottom
      background url('../../assets/images/band/1.png') center center no-repeat
      background-size 100% 100%
      filter grayscale(50%)
    > .background-1
      animation moveTreeTree 15s infinite alternate
      background url('../../assets/images/band/2.png') center center no-repeat
      background-size 100% 100%
      filter grayscale(50%)
      top -5%
    > .background-2
      animation moveTree 15s infinite alternate
      background url('../../assets/images/band/4.png') center center no-repeat
      background-size 100% 100%
      left -2.5%
      mix-blend-mode multiply
      top 7.5%
    > .background-3
      animation moveTreeTwo 15s infinite alternate
      background url('../../assets/images/band/6.png') center center no-repeat
      background-size 100% 100%
      filter grayscale(30%)
      mix-blend-mode multiply
  &.-levelSelection,
  &.-abilities,
  &.-skill
    > .background
      flex(center, center)
      width 400%
      > .divisions
        height 100%
        width 25%
  &.-levelSelection
    align-items center
    background url('../../assets/images/forest/forestBackground.png') center center no-repeat
    background-size 100% 100%
    height 100%
    width 100%
    > .background
      top 0
    > .layerBottom
      background url('../../assets/images/forest/forestFloor2.png') center center no-repeat
      background-size 100% 100%
    > .background-1
      animation moveLeft 200s infinite
      > .divisions
        background url('../../assets/images/forest/forestFloor1.png') center center no-repeat
        background-size 100% 100%
      bottom 0
      height 5rem
      top unset
      z-index 3
    > .background-2
      animation moveLeft 40s infinite forwards
      > .divisions
        background url('../../assets/images/forest/trees1.png') center center
        background-size 100% 100%
      left -1%
      top 0
    > .background-3
      animation moveLeft 125s infinite
      > .divisions
        background url('../../assets/images/forest/trees2.png') center center
        background-size 100% 100%
    > .background-4
      animation moveLeft 175s infinite
      > .divisions
        background url('../../assets/images/forest/treesFake.png') center center
        background-size 100% 100%
        top 0
    > .background-5
      animation moveLeft 125s infinite
      > .divisions
        background url('../../assets/images/forest/treesFake2.png') center center
        background-size 100% 100%
      top 0
    > .background-6
      animation moveLeft 350s infinite
      height 90%
      > .divisions
        background url('../../assets/images/forest/treesShadow.png') center center no-repeat
        background-size 100% 100%
        top 0
  &.-abilities,
  &.-bornIn,
  &.-hobbies,
  &.-liveAndWork,
  &.-skill
    align-items flex-start
    height 90vh
  &.-abilities
    animation fadeIn .5s forwards
    background url('../../assets/images/lsdForest/7.png') center center no-repeat
    background-size 100% 100%
    > .background-1
      animation moveGrass 20s 4s infinite alternate
      bottom 0
      height 24%
      top unset
      > .divisions
        background url('../../assets/images/lsdForest/2.png') center center no-repeat
        background-size 100% 100%
    > .background-2
      animation moveGrass 25s 22s infinite alternate
      bottom 0
      height 80%
      top unset
      > .divisions
        background url('../../assets/images/lsdForest/3.png') center center no-repeat
        background-size 100% 100%
    > .background-3
      animation moveGrass 155s infinite alternate
      > .divisions
        background url('../../assets/images/lsdForest/4.png') center center no-repeat
        background-size 100% 100%
    > .background-4 > .divisions
      background url('../../assets/images/lsdForest/5.png') center center no-repeat
      background-size 100% 100%
    > .background-5 > .divisions
      background url('../../assets/images/lsdForest/6.png') center center no-repeat
      background-size 100% 100%
    > .layerBottom
      animation unset
      background url('../../assets/images/lsdForest/1.png') center center no-repeat
      background-size 100% 100%
      bottom 0
      height 12.5%
    >.mush-1,
    > .mush-1-1,
    > .mush-1-2,
    > .mush-2,
    > .mush-2-1,
    > .mush-2-2,
    > .mush-3,
    > .mush-3-1,
    > .mush-3-2,
    > .mush-1
      opacity .1
      position absolute
      transform scale(.1)
      z-index 4
    > .mush-1
      animation mushGrowth 1s 2s forwards, mushMove 2.5s 3s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush1.png') center center no-repeat
      background-size 100% 100%
      bottom 40%
      height 30%;
      left 8.5%
      width 8%
    > .mush-1-1
      animation mushGrowth 1s 2.25s forwards, mushMove 4s 3.25s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush1-1.png') center center no-repeat
      background-size 100% 100%
      bottom 39%
      left 17%
      height 20%
      width 4%
    > .mush-1-2
      animation mushGrowth 1s 2.5s forwards, mushMove 5.5s 3.5s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush1-2.png') center center no-repeat
      background-size 100% 100%
      bottom 36%
      left 19.7%
      height 22.5%
      width 5%
      transform rotate(10deg)
    > .mush-2
      animation mushGrowth 1s 2.75s forwards, mushMove 8.5s 3.75s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush2.png') center center no-repeat
      background-size 100% 100%
      bottom 33%
      left 31%
      height 30%
      width 10%
    > .mush-2-1
      animation mushGrowth 1s 3s forwards, mushMove 5s 4s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush2-1.png') center center no-repeat
      background-size 100% 100%
      bottom 39.7%
      left 46%
      height 25%
      width 8%
    > .mush-2-2
      animation mushGrowth 1s 3.25s forwards, mushMove 2.75s 4.25s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush2-2.png') center center no-repeat
      background-size 100% 100%
      bottom 33%
      left 43%
      height 12.5%
      width 4%
    > .mush-3
      animation mushGrowth 1s 3.5s forwards, mushMove 10s 4.5s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush3.png') center center no-repeat
      background-size 100% 100%
      bottom 37%
      left 68%
      height 30%
      width 10%
    > .mush-3-1
      animation mushGrowth 1s 3.75s forwards, mushMove 6s 4.75s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush3-1.png') center center no-repeat
      background-size 100% 100%
      bottom 39%
      left 76%
      height 30%
      width 10%
    > .mush-3-2
      animation mushGrowth 1s 4s forwards, mushMove 7s 5s forwards infinite alternate
      background url('../../assets/images/lsdForest/mush3-2.png') center center no-repeat
      background-size 100% 100%
      bottom 37%
      left 85%
      height 12.5%
      width 6%
    > .tree-1,
    > .tree-2,
    > .tree-3
      opacity .1
      position absolute
      transform scale(.1)
      z-index 4
    > .tree-1
      animation treeGrowth .5s .5s forwards
      background url('../../assets/images/lsdForest/tree1.png') center center no-repeat
      background-size 100% 100%
      height 39%
      left 5.5%
      top 52.5%
      width 25%
    > .tree-2
      animation treeGrowth .5s 1s forwards
      background url('../../assets/images/lsdForest/tree2.png') center center no-repeat
      background-size 100% 100%
      height 50%
      left 30%
      top 40%
      width 30%
    > .tree-3
      animation treeGrowth .5s 1.5s forwards
      background url('../../assets/images/lsdForest/tree3.png') center center no-repeat
      background-size 100% 100%
      height 60%
      right 0
      top 40%
      width 40%
  &.-liveAndWork
    animation fadeIn .5s forwards
    background linear-gradient(to right, rgba(red, .55), white, rgba(red, .55))
    > .layerBottom
      display none
    > .background-1
      animation moveLeft 80s infinite
      top 20%
      height 70%
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_2.png') center center no-repeat
        background-size 100% 100%
    > .background-2
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_3.png') center center no-repeat
        background-size 100% 100%
    > .background-3
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_1.png') center center no-repeat
        background-size 100% 100%
    > .background-4
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/rocks_2.png') center center no-repeat
        background-size 100% 100%
    > .background-5
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_4.png') center center no-repeat
        background-size 100% 100%
    > .background-6
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/rocks_1.png') center center no-repeat
        background-size 100% 100%
  &.-bornIn
    animation fadeIn .5s forwards
    background linear-gradient(to right, rgba(green, .5), rgba(white, .85), rgba(red, .55))
    background-position top center
    background-size 100% 90%
    opacity 0
    > .background-1,
    > .background-2,
    > .background-3,
    > .background-4,
    > .background-5,
    > .background-6
      background unset
      > .divisions
        background unset
    > .layerBottom
      animation emergeFlor .5s .75s forwards
      bottom -100%
      mix-blend-mode multiply
      height 15%
    > .background-1
      animation emerge .5s 1.7s forwards
      bottom -100%
      height 37.5%
      left unset
      right 20%
      width 20%
      &:before
        background url('../../assets/images/colosseum/church.png') center center no-repeat
        background-size 100% 100%
        content ''
        height 100%
        width 100%
    > .background-2
      animation emerge .5s 1.25s forwards
      bottom -100%
      height 55%
      left 0
      top unset
      width 60%
      &:before
        background url('../../assets/images/colosseum/colosseum.png') center center no-repeat
        background-size 100% 100%
        content ''
        height 100%
        width 100%
    > .background-3
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_3.png') center center no-repeat
        background-size 100% 100%
    > .background-5
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_1.png') center center no-repeat
        background-size 100% 100%
    > .background-4
      > .divisions
        background url('../../assets/images/peruRepresentation/Mountains/layers/clouds_2.png') center center no-repeat
        background-size 100% 100%
    > .background-6
      animation emerge .5s 2.2s forwards
      bottom -100%
      height 80%
      left unset
      right 0
      top unset
      width 20%
      &:before
        background url('../../assets/images/colosseum/pisa.png') center center no-repeat
        background-size 100% 100%
        content ''
        filter grayscale(0.5)
        height 100%
        width 100%
  &.-hobbies
    animation fadeIn .5s forwards
    > .layerBottom
      background url('../../assets/images/hobbies/floor.png') center center no-repeat
      background-size 100% 100%
    > .background-1
      background url('../../assets/images/hobbies/infopost.png') center center no-repeat
      background-size 100% 100%
      > .game-title
        left 10%
        position absolute
        top 85%
    > .background-2
      background url('../../assets/images/hobbies/wires.png') center center no-repeat
      background-size 100% 100%
    > .background-3
      background url('../../assets/images/hobbies/columns.png') center center no-repeat
      background-size 100% 100%
    > .background-4
      animation trainMove 40s infinite alternate
      background url('../../assets/images/hobbies/train.png') center center no-repeat
      background-size 100% 100%
      height 50%
      left 15%
      top 25%
      > .game-title
        left -15%
        top 7.5%
        font-size 50%
    > .background-5
      background url('../../assets/images/hobbies/rails.png') center center no-repeat
      background-size 100% 100%
      > .game-title
        left 5%
        top 26%
    > .background-6
      background url('../../assets/images/hobbies/bg.png') center center no-repeat
      background-size 100% 100%
  &.-skill
    animation fadeIn .5s forwards
    > .background > .divisions
      flex(flex-start, center)
      padding-top 4rem
      position relative
      +media(desktop)
        padding-top 5rem
      &.-skills > .rock
        position absolute
        &.rock-1
          background url('../../assets/images/skills/rock1.png') center center no-repeat
          background-size 100% 100%
          height 26%
          left 4%
          top 29%
          width 11%
          z-index 6
          > h3
            animation oscill 2s ease infinite
            left 80%
            top -10%
          > .stars
            transform rotate(99.5deg)
            left -59%
            top 68%
            +media(mobile)
              left -7.5%
              top 40%
              transform rotate(-60deg)
            +media(desktop)
              left 0%
              top 45%
              transform rotate(-60deg)
          > .stars > i
            position absolute
            &:nth-child(1)
              animation fall .25s 1.25s forwards
              left 0%
              top -80rem
            &:nth-child(2)
              animation fall .25s 1.5s forwards
              left 20%
              top -80rem
            &:nth-child(3)
              animation fall .25s 1.75s forwards
              left 40%
              top -80rem
            &:nth-child(4)
              animation fall .25s 2s forwards
              left 60%
              top -80rem
            &:nth-child(5)
              animation fall .25s 2.25s forwards
              left 80%
              top -80rem
            +media(desktop)
              &:nth-child(1)
                left 0%
              &:nth-child(2)
                left 15%
              &:nth-child(3)
                left 30%
              &:nth-child(4)
                left 45%
              &:nth-child(5)
                left 60%
        &.rock-2
          background url('../../assets/images/skills/rock2.png') center center no-repeat
          background-size 100% 100%
          height 55%
          left 10%
          top 21%
          width 25%
          z-index 5
          > h3
            animation oscill 10s ease infinite
            left 75%
            top -7%
          > .stars
            transform rotate(101deg)
            left -20%
            top 85%
            +media(mobile)
              left -20%
              top 75%
              transform rotate(-58deg)
            +media(desktop)
              left -18%
              transform rotate(-59deg)
          > .stars > i
            &:nth-child(1)
              animation fall .25s 2.5s forwards
              top -80rem
            &:nth-child(2)
              animation fall .25s 2.75s forwards
              top -80rem
            &:nth-child(3)
              animation fall .25s 3s forwards
              top -80rem
            &:nth-child(4)
              animation fall .25s 3.25s forwards
              top -80rem
            &:nth-child(5)
              animation fall .25s 3.5s forwards
              top -80rem
            +media(desktop)
              &:nth-child(1)
                left 30%
              &:nth-child(2)
                left 37.5%
              &:nth-child(3)
                left 45%
              &:nth-child(4)
                left 52.5%
              &:nth-child(5)
                left 60%
        &.rock-3
          background url('../../assets/images/skills/rock3.png') center center no-repeat
          background-size 100% 100%
          height 35%
          left 31%
          top 36%
          width 16%
          z-index 4
          > h3
            animation oscill 5s ease infinite
            left 76%
            top -8%
          > .stars
            left -30%
            top 80%
            transform rotate(100deg)
            +media(mobile)
              left -15%
              top 70%
              transform rotate(-57deg)
            +media(desktop)
              left -5%
              transform rotate(-56deg)
          > .stars > i
            position absolute
            &:nth-child(1)
              animation fall .25s 3.75s forwards
              top -80rem
            &:nth-child(2)
              animation fall .25s 4s forwards
              top -80rem
            &:nth-child(3)
              animation fall .25s 4.25s forwards
              top -80rem
            &:nth-child(4)
              animation fall .25s 4.5s forwards
              top -80rem
            &:nth-child(5)
              animation fall .25s 4.75s forwards
              top -80rem
            +media(desktop)
              &:nth-child(1)
                left 20%
              &:nth-child(2)
                left 30%
              &:nth-child(3)
                left 40%
              &:nth-child(4)
                left 50%
              &:nth-child(5)
                left 60%
        &.rock-4
          background url('../../assets/images/skills/rock4.png') center center no-repeat
          background-size 100% 100%
          height 49%
          left 46%
          top 35%
          width 25%
          z-index 3
          > h3
            animation oscill 8s ease infinite
            left 60%
            top -5%
          > .stars
            left -25%
            top 85%
            transform rotate(101deg)
            +media(mobile)
              left -25%
              top 75%
              transform rotate(-58deg)
            +media(mobile)
              left -20%
              transform rotate(-57deg)
          > .stars > i
            &:nth-child(1)
              animation fall .25s 5s forwards
              top -80rem
            &:nth-child(2)
              animation fall .25s 5.25s forwards
              top -80rem
            &:nth-child(3)
              animation fall .25s 5.5s forwards
              top -80rem
            &:nth-child(4)
              animation fall .25s 5.75s forwards
              top -80rem
            &:nth-child(5)
              animation fall .25s 6s forwards
              top -80rem
            +media(desktop)
              &:nth-child(1)
                left 30%
              &:nth-child(2)
                left 37.5%
              &:nth-child(3)
                left 45%
              &:nth-child(4)
                left 52.5%
              &:nth-child(5)
                left 60%
        &.rock-5
          background url('../../assets/images/skills/rock5.png') center center no-repeat
          background-size 100% 100%
          height 40%
          left 65%
          top 28%
          width 18%
          z-index 2
          > h3
            animation oscill 4s ease infinite
            left 60%
            top -5%
          > .stars
            color lighten(#EBAB92, 25%)
            left -28%
            transform rotate(101deg)
            top 80%
            +media(mobile)
              left -17.5%
              top 75%
              transform rotate(-56deg)
            +media(desktop)
              transform rotate(-59deg)
          > .stars > i
            &:nth-child(1)
              animation fall .25s 6.25s forwards
              top -80rem
            &:nth-child(2)
              animation fall .25s 6.5s forwards
              top -80rem
            &:nth-child(3)
              animation fall .25s 6.75s forwards
              top -80rem
            &:nth-child(4)
              animation fall .25s 7s forwards
              top -80rem
            &:nth-child(5)
              animation fall .25s 7.25s forwards
              top -80rem
        > h3
          color lighten(#FAD69F, 25%)
          display block
          font-family titleFont
          font-size 50%
          position absolute
          text-shadow -.15rem 0 darken(#A26E48, 35%), 0 .25rem darken(#A26E48, 35%), .25rem 0 darken(#A26E48, 35%), 0 -.15rem darken(#A26E48, 35%)
          min-width 100%
          word-break normal
          +media(desktop)
            font-size 125%
            line-height 150%
        > .stars
          color lighten(#FAD69F, 25%)
          display block
          flex(center, center)
          font-size 75%
          height 2rem
          min-width 5rem
          position absolute
          text-shadow -.15rem 0 darken(#A26E48, 35%), 0 .25rem darken(#A26E48, 35%), .25rem 0 darken(#A26E48, 35%), 0 -.15rem darken(#A26E48, 35%)
          width 100%
          +media(desktop)
            font-size 150%
          > i
            position absolute
          > i:nth-child(1)
            left 30%
          > i:nth-child(2)
            left 40%
          > i:nth-child(3)
            left 50%
          > i:nth-child(4)
            left 60%
          > i:nth-child(5)
            left 70%
    > .layerBottom
        background url('../../assets/images/skills/5.png') center center no-repeat
        background-size 100% 100%
    > .background-1
      transition all 2s
      > .divisions
        position absolute
        z-index 2
      > .divisions:before
        background url('../../assets/images/skills/4.png') center center no-repeat
        background-size 100% 100%
        content ''
        flex(flex-start, center)
        height 100%
        position absolute
        top 0
        width 100%
        z-index 1
    > .background-3
      left -100%
      width 500%
      > .divisions
        background url('../../assets/images/skills/3.png') center center no-repeat
        background-size 100% 100%
        width 20%
    > .background-4
      animation moveLeft 200s infinite forwards
      > .divisions
        background url('../../assets/images/skills/2.png') center center no-repeat
        background-size 100% 100%
    > .background-5
      animation moveLeft 280s infinite forwards
      > .divisions
        background url('../../assets/images/skills/1.png') center center no-repeat
        background-size 100% 100%
  &.-experience
    height 90vh
    > .background-1
      background url('../../assets/images/experience/experienceBg.png') center center no-repeat
      background-size 100% 100%
      flex(center, center)
      width 400%
      > .divisions
        height 100%
        position relative
        width 25%
        z-index 5
    > .layerBottom
      background url('../../assets/images/experience/experienceBottom.png') center center no-repeat
      background-size 100% 100%
      height 69%
      width 400%


@keyframes oscill
  0%, 100%
    transform: translate3d(0, -25px, 0)
  50%
    transform: translate3d(0, 5px, 0)

@keyframes fall
  0%
    top -80rem
  80%
    transform rotateX(0)
  82.5%
    transform rotateX(30deg)
  85%
    transform rotateX(140deg)
  87.5%
    transform rotateX(30deg)
  90%
    transform rotateX(30deg)
  92.5%
    transform rotateX(30deg)
  95%
    transform rotateX(140deg)
  97.5%
    transform rotateX(30deg)
  100%
    top 30%
    transform rotateX(10)
