.presentation-lvl-indicador
  background-color lighten(black, 15%)
  border .3rem solid white
  box-shadow .25rem .25rem 0 0 black
  flex(center, center)
  list-style none
  max-width 35rem
  padding 2rem
  width 95%
  > .presentation > h3
    text-align center
  > .presentation > div
    margin-top 2rem
    flex(center, center)
  > .presentation > div > h3
    margin-left 1rem
  > li
    width 100%
  > li,
  > li a,
  > li h2,
  > li h3,
  > li p
    color white
    font-family titleFont
    list-style none
    text-align left
    text-decoration none
    text-shadow .15rem .1rem 0 black
  > li > .carousel
    flex(center, space-between)
  a
    display block
    padding .75rem
    &:hover
      color darken(white, 30%)
      transition fastTransition