.published-content
  flex(flex-start, center)
  list-style none
  margin-bottom 3rem
  padding 1rem 2.5%
  width 100%
  > li,
  > li > a
    color white
    font-size 125%
    line-height 150%
    width 100%