.sub-levels
  width 100%
  list-style none
  height 0
  opacity 0
  overflow hidden
  visibility hidden
  transition fastTransition
  &.opened
    height auto
    opacity 1
    visibility visible
  li
    padding-left 1rem