.thread-header
  color subtitleColor
  flex(center, space-between)
  font-size 2rem
  margin-bottom .25rem
  text-decoration none
  > .user
    font-size 2.25rem
    font-weight 500
    max-width calc(100% - 11rem)
  > .date
    color subtitleColor
    font-size 1.5rem
    font-weight 500
    max-width 11rem