@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext')
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap&subset=latin-ext,vietnamese')
  
primaryFont = 'Press Start 2P'
secondaryFont = 'VT323'

bg = #f5f5f5
primary = #0A7B83
action = #2AA876
border_bottom = .075rem solid rgba(black, .15)
titleColor = rgba(black, .75)
subtitleColor = rgba(black, .55)

mobile = 35.5rem
desktop = 64rem