media(size)
  @media (min-width: size)
    {block}

flex(align, justify)
  align-items align
  display flex
  flex-wrap wrap
  justify-content justify

// Animations
@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes fadeOut
  from
    opacity 1
  to
    opacity 0
@keyframes treeGrowth
  0%
    bottom 5%
    opacity 0
    transform scale(.1)
  10%
    transform scale (.2) rotate(5deg)
  20%
    transform scale (.3) rotate(-5deg)
  30%
    transform scale (.4) rotate(5deg)
  40%
    transform scale (.5) rotate(-5deg)
  50%
    transform scale (.6) rotate(5deg)
    transform scale(1.2)
  70%
    transform scale (.7) rotate(-5deg)
  80%
    transform scale (.8) rotate(0deg)
  100%
    bottom 20%
    opacity 1
    transform scale(1)

@keyframes mushGrowth
  0%
    margin-top 15%
    opacity 0
    transform translateY(20%) scale(.3)
  50%
    transform translateY(20%) scale(.5)
    opacity 0
  62.5%
    transform translateY(20%) srotate(5deg) scale(.55)
  67.5%
    transform translateY(20%) srotate(-5deg) scale(.55)
  72.5%
    transform translateY(15%) rotate(5deg) scale(.55)
  87.5%
    opacity .4
    transform translateY(15%) rotate(-5deg) scale(.55)
  92.5%
    transform  translateY(15%) rotate(5deg) scale(.6)
  97.5%
    opacity .7
    transform  translateY(15%) rotate(-5deg) scale(.65)
  100%
    margin-top 0
    opacity 1
    transform translate(0) scale(1) rotate(0)

@keyframes mushMove
  0%
    margin-left 0
    opacity 1
    transform rotate(0)
  50%
    margin-left .5%
    transform scale(1.025) rotate(5deg)
  100%
    margin-left -.5%
    opacity 1
    transform rotate(-5deg)

@keyframes moveLeft
  from
    left 0%
  to
    left -300%

@keyframes moveTree
  0%
    transform: scale(1.00)
    transform: rotate(0)
  25%
    transform: scale(1.03)
    transform: rotate(1.5deg)
  50%
    transform: scale(1.00)
    transform: rotate(0)
  75%
    transform: scale(1.03)
    transform: rotate(1.5deg)
  100%
    transform: scale(1.00)
    transform: rotate(0)

@keyframes moveTreeTwo
  0%
    transform: scale(1.00)
    transform: rotate(0)
  25%
    transform: scale(1.03)
    transform: rotate(-1.5deg)
  50%
    transform: scale(1.00)
    transform: rotate(0)
  75%
    transform: scale(1.03)
    transform: rotate(-1.5deg)
  100%
    transform: scale(1.00)
    transform: rotate(0)

@keyframes moveTreeTree
  from
    transform scale(1.00)
  to
    transform scale(1.02)

@keyframes earthquake
  0%
    transform: scale(1.03) rotate(0)
  30%,
  60%,
  90%
    transform: scale(1.03) rotate(1deg)
  15%,
  45%,
  75%
    transform: scale(1.03) rotate(-1deg)
  100%
    transform: scale(1.00) rotate(0)

@keyframes earthquakeSm
  0%
    transform: scale(1.03) rotate(0)
  30%,
  60%,
  90%
    transform: scale(1.03) rotate(1deg)
  15%,
  45%,
  75%
    transform: scale(1.03) rotate(-1deg)
  100%
    transform: scale(1.00) rotate(0)

@keyframes earthquakeMd
  0%
    transform: scale(1.03) rotate(0)
  30%,
  60%,
  90%
    transform: scale(1.03) rotate(1deg)
  15%,
  45%,
  75%
    transform: scale(1.03) rotate(-1deg)
  100%
    transform: scale(1.00) rotate(0)

@keyframes emerge
  0%
    bottom -100%
    transform: scale(1) rotate(0)
  15%
    transform: scale(1.02) rotate(1deg)
  30%
    transform: scale(1) rotate(0)
  45%
    transform: scale(1.02) rotate(1deg)
  60%
    transform: scale(1) rotate(0)
  75%
    transform: scale(1.02) rotate(1deg)
  90%,
  100%
    bottom 9%
    transform: scale(1) rotate(0)

@keyframes emergeFlor
  0%
    bottom -100%
    transform: scale(1) rotate(0)
  15%
    transform: scale(1.02) rotate(1deg)
  30%
    transform: scale(1) rotate(0)
  45%
    transform: scale(1.02) rotate(1deg)
  60%
    transform: scale(1) rotate(0)
  75%
    transform: scale(1.02) rotate(1deg)
  90%,
  100%
    bottom -5%
    transform: scale(1) rotate(0)

@keyframes walking
  0%
    left -15%
  33%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  34%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  36%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
  37%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  38%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  39%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  100%
    left 110%

@keyframes trainMove
  0%
    left 15%
  32%
    left 15%
  33.33%
    left 20%
  40%
    left -150%
  52%
    left -150%
  55%
    left 20%
    transform rotate(1deg)
  56%
    transform rotate(-1deg)
    left 16%
  57%
    transform rotate(1deg)
    left 18%
  58%
    transform rotate(0)
    left 15%
  76.66%
    left 15%
  77.33%
    left 20%
  80%
    left -150%
  100%
    left -150%

@keyframes runAlex
  0%
    left -15%
  50%
    left 125%
  100%
    left 125%

@keyframes StaticWalking
  0%
    left -5%
  33%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  33.5%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
  34%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 15%
  35%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  36%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  37%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  100%
    left 50%

@keyframes occasionalJump
  0%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    left 50%
  33%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  34%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
  36%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 15%
  37%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  38%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  39%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  100%
    left 50%

@keyframes walkingSm
  0%
    left -15%
  33%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  34%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  36%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
  37%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  38%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  39%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  100%
    left 110%

@keyframes walkingMd
  0%
    left -15%
  33%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  34%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  36%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
  37%
    background url('../images/characterJumpStart.png') center center no-repeat
    background-size 100% 100%
  39%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 2.5%
  40%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  100%
    left 110%

@keyframes jumpDownIntroSm
  0%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    left 115%
    bottom 120%
  85%
    background url('../images/characterJumpStartLeft.png') center center no-repeat
    background-size 100% 100%
    left 75%
  94%,
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 75%
    bottom 42.5%

@keyframes jumpDownIntroMd
  0%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    left 115%
    bottom 120%
  85%
    background url('../images/characterJumpStartLeft.png') center center no-repeat
    background-size 100% 100%
    left 77%
  94%,
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 77%
    bottom 42.5%

@keyframes jumpDownIntro
  0%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    left 115%
    bottom 120%
  85%
    background url('../images/characterJumpStartLeft.png') center center no-repeat
    background-size 100% 100%
    left 80%
  94%,
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 80%
    bottom 42.5%

@keyframes breathSm
  0%,
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 42.5%
    left 75%
    width 3rem
  25%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 42.5%
    left calc(75% - .07rem)
    width 3.07rem

@keyframes breathMd
  0%,
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 42.5%
    left 77%
    width 3rem
  25%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 42.5%
    left calc(77% - .07rem)
    width 3.07rem

@keyframes breath
  0%,
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 42.5%
    left 80%
    width 4rem
  25%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 42.5%
    left calc(80% - .15rem)
    width 4.15rem

@keyframes moveGrass
  0%
    transform skewX(0)
  10%
    transform skewX(0)
  11%
    transform skewX(10deg)
  12%
    transform skewX(9deg)
  13%
    transform skewX(10deg)
  14%
    transform skewX(8deg)
  15%
    transform skewX(10deg)
  16%
    transform skewX(6)
  17%,
  50%
    transform skewX(0)
  51%
    transform skewX(-10deg)
  52%
    transform skewX(-9deg)
  53%
    transform skewX(-10deg)
  54%
    transform skewX(-8deg)
  55%
    transform skewX(-10deg)
  56%
    transform skewX(-6)
  57%,
  80%
    transform skewX(0)
  81%
    transform skewX(10deg)
  82%
    transform skewX(9deg)
  83%
    transform skewX(10deg)
  84%
    transform skewX(8deg)
  85%
    transform skewX(10deg)
  86%
    transform skewX(6)
  87%,
  100%
    transform skewX(0)

@keyframes walkingExperience
  0%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left -50%
    width .75%
  10%
    left -1%
  99%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    left 8%
    width .75%
  100%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 8%
    width .55%

@keyframes experienceTwoNext
  0%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 8%
    width .75%
  9%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  10%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 9.5%
  14%
    bottom 50%
  19%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
  20%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    left 13.5%
    bottom 45%
  29%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  30%, 49%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    left 17%
    width .55%
  50%, 69%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  70%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 45%
    left 26%
    width .65%
  75%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 55%
    width .65%
  76%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    width .65%
  80%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 30%
    width .75%
  99%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  100%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 32%
    width .55%

@keyframes experienceOnePrev
  0%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 32%
    bottom 25%
    width .75%
  5%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  20%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 30%
    width .75%
  24%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    width .65%
  25%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 55%
    width .65%
  30%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 45%
    left 26%
    width .75%
  31%, 50%,
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  51%, 70%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 21%
    width .75%
  71%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  80%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    left 13.5%
    bottom 45%
    width .75%
  81%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    width .65%
  86%
    bottom 50%
  90%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 9.5%
    width .65%
  91%, 99%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 25%
    left 8%
    width .75%

@keyframes experienceThreeNext
  0%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    left 32%
    bottom 25%
    width .75%
  20%
    bottom 25%
    left 38.5%
  25%
    left 38.5%
    bottom 54%
  29%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 54%
    width .75%
  30%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 54%
    left 40%
    width .65%
  36%
    bottom 75%
  39%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    left 43.75%
    width .65%
  40%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 54%
    left 44%
    width .75%
  45%
    left 44.7%
  60%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 99%
    left 44.7%
    width .75%
  69%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  70%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 99%
    left 47%
    width .65%
  77%
    bottom 120%
  85%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 35%
    left 56%
    width .65%
  86%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 35%
    width .75%
  99%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 35%
    width .75%
  100%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    left 60%
    bottom 35%
    width .55%

@keyframes experienceTwoPrev
  0%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 60%
    bottom 35%
    width .75%
  5%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 35%
    width .75%
  14%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 35%
    width .75%
  16%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 35%
    left 56%
    width .65%
  23%
    bottom 120%
  30%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 99%
    left 46%
    width .65%
  31%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 99%
    left 46%
    width .75%
  40%
    bottom 99%
    left 44.7%
  45%, 50%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 54%
    left 44.7%
    width .75%
  55%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 54%
    left 43.75%
    width .65%
  60%
    bottom 75%
  65%
    background url('../images/characterJumpMiddleLeft.png') center center no-repeat
    background-size 100% 100%
    bottom 54%
    left 40%
    width .65%
  66%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    bottom 54%
    width .75%
  70%
    left 38.5%
    bottom 54%
    width .75%
  80%
    bottom 25%
    left 38.5%
    width .75%
  99%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    left 32%
    bottom 25%
    width .75%
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 32%
    bottom 25%
    width .75%

@keyframes experienceFourNext
  0%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    left 60%
    bottom 35%
    width .55%
  1%, 99%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  60%
    left 72.3%
    bottom 35%
  99%
    left 79.3%
    bottom 64%
  100%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    left 79.3%
    bottom 64%
    width .55%

@keyframes experienceThreePrev
  0%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 79.3%
    bottom 64%
    width .75%
  5%, 99%
    background url('../images/walkingLeft.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  6%
    left 79.3%
    bottom 64%
  50%
    left 72.3%
    bottom 35%
  100%
    background url('../images/characterStopLeft.png') center center no-repeat
    background-size 100% 100%
    left 60%
    bottom 35%
    width .75%

@keyframes goToCredits
  0%
    background url('../images/characterStop.png') center center no-repeat
    background-size 100% 100%
    left 79.3%
    bottom 64%
    width .55%
  2%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    width .75%
  18.5%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
  20%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    left 80%
    bottom 64%
    width .65%
  25%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 80%
    width .65%
  28%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    width .65%
  30%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 64%
    left 83%
    width .75%
  42%
    left 84%
  50%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 64%
    left 82.75%
    width .75%
  56.5%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    left 82.75%
  58%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 64%
    width .65%
  64%
    bottom 85%
  69%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
  72%, 74%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    left 94.5%
    bottom 64%
    width .65%
  75%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
    bottom 64%
    width .65%
  81%
    bottom 90%
  87%
    background url('../images/characterJumpMiddle.png') center center no-repeat
    background-size 100% 100%
  89%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 70%
    left 98.6%
  100%
    background url('../images/walking.gif') center center no-repeat
    background-size 100% 100%
    bottom 64%
    left 101%
    width .75%
